.form-area {
    width: 100%;
    padding: 4% 4% 4% 4%;
    margin: auto;
    display: block;
}

.welcome {
    padding-top: 1%;
    padding-bottom: 2%;
    text-align: center;
}

.btn-primary {
    margin: auto;
    display: block;
}

#viewDiv {
    float: left;
    width: 65%;
    height: 100%;
}

.formDiv {
    float: left;
    width: 50%;
    height: 100%
}

.no-padding {
    padding: 0;
}

.padd {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

body {
    padding-top: 0px; /* Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

/* Header Image Background - Change the URL below to your image path (example: ../images/background.jpg) */

html, body {
      height: 100%;
}

.full-height {
	width: 35%;
      height: 100%;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
}
.navbar-toggle {
    z-index:3;
}

.shadow {
box-shadow: -5px 0px 10px 1px #aaaaaa;
}

form {
  text-align: center;
}
